.element__heart {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  margin-bottom: 5px;
  background: none;
  background-image: url(../../../images/heart-1.svg);
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.5;
}
